#!/usr/bin/env bash

############################################################
# Dotfiles
############################################################

alias dfc="cd $DOTFILES"
alias dfe="subl $DOTFILES"
alias dfu="cd $DOTFILES && git pull origin && cd -"

# Update .zshrc
alias zshr="source $DOTFILES/.zshrc && echo '\033[0;32m✓ zshrc reloaded!'"

############################################################
# Shortcuts
############################################################

alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

alias g="git"

# Open Screenshots folder
alias ss="open ~/Dropbox/Screenshots"

############################################################
# ls command
############################################################
# @source https://github.com/mathiasbynens/dotfiles/blob/master/.aliases

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# List all files colorized in long format, including dot files
alias l="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

############################################################
# Build Tasks                                              #
############################################################

# Ant
alias aa="ant all"
alias ad="ant deploy"
alias acd="ant clean deploy"

# Gradle
alias gr="gradle"
alias grd="gradle deploy"
alias grcd="gradle clean deploy"

# Gulp
alias gub="gulp build"
alias gud="gulp deploy"
alias guw="gulp watch"

# Node
alias ns="node server"

# NPM
alias ni="npm install"

# Yarn
alias ya="yarn add"
alias ys="yarn start"
alias yt="yarn test"

# Start server in current directory
alias pserver="python -m SimpleHTTPServer 8000"

############################################################
# Database                                                 #
############################################################

# MySQL
alias msql="mysql -u root -p"
alias msqls="mysql.server start"
alias msqle="mysql.server stop"

############################################################
# Git                                                      #
############################################################

alias gbd="git branch -d"
alias gbD="git branch -D"
alias gcane="git commit --amend --no-edit"
alias gcaane="git commit --all --amend --no-edit"
alias gcleana="git clean -fd :/"
alias gco2="git checkout @{-2}"
alias gco3="git checkout @{-3}"
alias gco4="git checkout @{-4}"
alias gco5="git checkout @{-5}"
alias gcr="git checkout -"
alias grbim="git rebase -i master"
alias gbm="git branch -m"
alias gpf="git push --force"
alias ggpf="ggp -f"
alias gurbm="git pull upstream master --rebase"
alias grha="git reset --hard"
alias gql="git log --pretty=format:'* %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative"

# Git Plugins
alias gop="git open"
alias gre="git recent"

############################################################
# Utilities
############################################################

# Get IP Address
# @source http://stackoverflow.com/a/13322549/5092054
alias ip="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ipc="ip | pbcopy"

# Empty the Trash on all mounted volumes and the main HDD. then clear the useless sleepimage
# @source https://github.com/paulirish/dotfiles/blob/master/.aliases
alias emptytrash=" \
    sudo rm -rfv /Volumes/*/.Trashes; \
    rm -rfv ~/.Trash/*; \
    sudo rm -v /private/var/vm/sleepimage; \
"

############################################################
# Apps
############################################################

# Spotify
alias sp="spotify"
alias spp="spotify play && spotify status"
alias sps="spotify pause"
alias spv="spotify vol"
