#!/usr/bin/env bash

############################################################
# Dotfiles
############################################################

alias dfc="cd $DOTFILES"
alias dfe="code $DOTFILES"
alias dfu="cd $DOTFILES && git pull origin && cd -"

# Update .zshrc
alias zshr="source $DOTFILES/.zshrc && echo '\033[0;32m✓ zshrc reloaded!'"

############################################################
# Shortcuts
############################################################

alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

alias g="git"

# Open Screenshots folder
alias ss="open ~/Dropbox/Screenshots"

############################################################
# ls command
############################################################
# Use GNU ls from coreutils
# -a      do not ignore entries starting with .
# -A      do not list implied . and ..
# -h      with -l and/or -s, print human readable sizes (e.g., 1K 234M 2G)
# -l      use a long listing format
# -p      append / indicator to directories
# --color colorize the output
# --group-directories-first
alias l="gls -aAhlp --color=auto --group-directories-first"

# List only directories
alias lsd="ls -lF -G"

############################################################
# Build Tasks                                              #
############################################################

# Ant
alias aa="ant all"
alias ad="ant deploy"
alias acd="ant clean deploy"

# Gradle
alias gr="gradle"
alias grd="gradle deploy"
alias grcd="gradle clean deploy"

# Gulp
alias gub="gulp build"
alias gud="gulp deploy"
alias guw="gulp watch"

# Node
alias ns="node server"

# NPM
alias ni="npm install"
alias nb="npm run build"

# Yarn
alias ya="yarn add"
alias yb="yarn build"
alias yf="yarn format"
alias ys="yarn start"
alias ysd="yarn start-dev"
alias yt="yarn test"
alias yw="yarn watch"
alias yif="yarn install --force"

# Start server in current directory
alias pserver="python3 -m http.server"

############################################################
# Database                                                 #
############################################################

# MySQL
alias msql="mysql -u root -p"
alias msqls="mysql.server start"
alias msqle="mysql.server stop"

############################################################
# Git                                                      #
############################################################

alias gbd="git branch -d"
alias gbD="git branch -D"
alias gcane="git commit --amend --no-edit"
alias gcaane="git commit --all --amend --no-edit"
alias gcleana="git clean -fd :/"
alias gco2="git checkout @{-2}"
alias gco3="git checkout @{-3}"
alias gco4="git checkout @{-4}"
alias gco5="git checkout @{-5}"
alias gcr="git checkout -"
alias grbim="git rebase -i master"
alias grbio="git rebase -i origin/HEAD"
alias gbm="git branch -m"
alias gpf="git push --force"
alias ggpf="ggp -f"
alias glu="git pull upstream"
alias gurbm="git pull upstream master --rebase"
alias grha="git reset --hard"
alias gql="git log --pretty=format:'* %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative"

# Git Plugins

# https://github.com/jwu910/check-it-out
alias co="checkit"

# https://github.com/paulirish/git-open
alias gop="git open"

# https://github.com/paulirish/git-recent
alias gre="git recent"

# https://github.com/drewbrokke/jack-cli
alias j="jack --pretty=format:'* %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative -n 100"

############################################################
# Utilities
############################################################

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
# @source https://github.com/mathiasbynens/dotfiles/blob/master/.aliases#L56
alias updateall='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# Get IP Address
# @source http://stackoverflow.com/a/13322549/5092054
alias ip="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ipc="ip | pbcopy"

# Empty the Trash on all mounted volumes and the main HDD. then clear the useless sleepimage
# @source https://github.com/paulirish/dotfiles/blob/master/.aliases
alias emptytrash=" \
    sudo rm -rfv /Volumes/*/.Trashes; \
    rm -rfv ~/.Trash/*; \
    sudo rm -v /private/var/vm/sleepimage; \
"

alias photosort="/Users/ktan/Projects/photosort/photosort.sh"

############################################################
# Apps
############################################################

# Spotify
alias sp="spotify"
alias spn="spotify next"
alias spb="spotify prev"
alias spp="spotify play && spotify status"
alias sps="spotify pause"
alias spv="spotify vol"

# Twitter
# https://github.com/sferik/t
alias ts="t stream timeline"
alias tu="t update"

# MPV
# Change volume using '9' to increase and '0' to decrease.
alias mpvyt="mpv --no-video --volume 50 --loop"

# Dad Joke
alias dadjoke="curl -H \"Accept: text/plain\" https://icanhazdadjoke.com/"
