#!/usr/bin/env bash

# `a` with no arguments opens the current directory in Atom Editor, otherwise
# opens the given location
# @source https://github.com/mathiasbynens/dotfiles/blob/master/.functions
function a() {
	if [ $# -eq 0 ]; then
		atom .;
	else
		atom "$@";
	fi;
}

# For Atom Beta
function b() {
	if [ $# -eq 0 ]; then
		atom-beta .;
	else
		atom-beta "$@";
	fi;
}

# `c` with no arguments opens the current directory in VSCode, otherwise
# opens the given location
function c() {
	if [ $# -eq 0 ]; then
		code .;
	else
		code "$@";
	fi;
}

# `s` with no arguments opens the current directory in Sublime Text, otherwise
# opens the given location
# @source https://github.com/mathiasbynens/dotfiles/blob/master/.functions
function s() {
	if [ $# -eq 0 ]; then
		subl .;
	else
		subl "$@";
	fi;
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
# @source https://github.com/mathiasbynens/dotfiles/blob/master/.functions
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

# Function to shorten `yarn` command and allows to add commands after `yarn`.
function y() {
	if [ $# -eq 0 ]; then
		yarn;
	else
		yarn "$@";
	fi;
}

# Make a new directory and cd into it.
# @source https://github.com/mathiasbynens/dotfiles/blob/master/.functions
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Syntax-highlight JSON strings or files
# Usage: `json '{"foo":42}'` or `echo '{"foo":42}' | json`
# @source https://github.com/mathiasbynens/dotfiles/blob/master/.functions
function json() {
	if [ -t 0 ]; then # argument
		python -mjson.tool <<< "$*" | pygmentize -l javascript;
	else # pipe
		python -mjson.tool | pygmentize -l javascript;
	fi;
}

# Determine size of a file or total size of a directory
# @source https://github.com/mathiasbynens/dotfiles/blob/master/.functions
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# Sorts files into folders according to the file name.
# @source https://github.com/thektan/filesort
function filesort() {
	cd /Users/ktan/Projects/filesort;

	if [ $# -eq 0 ]; then
		java FileSort;
	else
		java FileSort "$@";
	fi;
}

# Update dotfiles
function update_dotfiles() {
	cd $DOTFILES;
	git checkout master;
	git pull origin;
	zshr; # Alias for resourcing zshrc.
}

# Update global packages
function update_global_packages() {
	local green=`tput setaf 2`
	local blue=`tput setaf 4`
	local reset=`tput sgr0`

	echo "${blue}"
	echo "─────────────────────────────────────────────────────────────────";
	echo "Preparing to update global packages and brew formulas."
	echo "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -";
	date;
	echo "─────────────────────────────────────────────────────────────────";
	echo "${reset}"

	echo "${blue}"
	echo "─────────────────────────────────────────────────────────────────";
	echo "▸ (1/6) Update dotfiles";
	echo "─────────────────────────────────────────────────────────────────";
	echo "${reset}"

	update_dotfiles;

	echo "${blue}"
	echo "─────────────────────────────────────────────────────────────────";
	echo "▸ (2/6) Update Brew Formulas";
	echo "─────────────────────────────────────────────────────────────────";
	echo "${reset}"

	brew update;
	brew upgrade;
	brew cleanup;

	echo "${blue}"
	echo "─────────────────────────────────────────────────────────────────";
	echo "▸ (3/6) Update Outdated Brew Casks";
	echo "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -";
	brew cask outdated --greedy;
	echo "─────────────────────────────────────────────────────────────────";
	echo "${reset}"
	brew cask upgrade --greedy;

	echo "${blue}"
	echo "─────────────────────────────────────────────────────────────────";
	echo "▸ (4/6) Update Yarn";
	echo "─────────────────────────────────────────────────────────────────";
	echo "${reset}"

	yarn global upgrade;

	echo "${blue}"
	echo "─────────────────────────────────────────────────────────────────";
	echo "▸ (5/6) Update NPM";
	echo "─────────────────────────────────────────────────────────────────";
	echo "${reset}"

	npm install npm -g;

	echo "${blue}"
	echo "─────────────────────────────────────────────────────────────────";
	echo "▸ (6/6) Preparing to update outdated global NPM Packages";
	echo "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -";
	npm -g outdated --parseable --depth=0 | cut -d: -f4;
	echo "─────────────────────────────────────────────────────────────────";
	echo "${reset}";

	# for package in $(npm -g outdated --parseable --depth=0 | cut -d: -f4)
	# do
	# 	npm -g install "$package"
	# done

	npm-check -gu;

	echo "${green}✓ Update Complete! 🎉 ${reset}";
}

# Separate function to output update function into a local log file. Attaching
# `| tee` to the end of the alias or function creates an empty log file when
# re-sourcing .zshrc and when calling the `update` function, a log file isn't
# created with the output.
function update() {
    update_global_packages 2>&1 | tee $DOTFILES_LOGS_PATH/$(date +"%Y-%m-%d-%H-%M-%S").log;
}
