#!/usr/bin/env bash

# Make a new directory and cd into it.
# Source: https://github.com/mathiasbynens/dotfiles/blob/master/.functions
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# `s` with no arguments opens the current directory in Sublime Text, otherwise
# opens the given location
# Source: https://github.com/mathiasbynens/dotfiles/blob/master/.functions
function s() {
	if [ $# -eq 0 ]; then
		subl .;
	else
		subl "$@";
	fi;
}

# `a` with no arguments opens the current directory in Atom Editor, otherwise
# opens the given location
# Source: https://github.com/mathiasbynens/dotfiles/blob/master/.functions
function a() {
	if [ $# -eq 0 ]; then
		atom .;
	else
		atom "$@";
	fi;
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
# Source: https://github.com/mathiasbynens/dotfiles/blob/master/.functions
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}